.container_sb{
    background-color: #1b48ff;
}
.bttn_sb{
    background-color: #1b48ff;
    color: #ffffff;
    border:1px solid #1737b4 !important;
}

._sm>a>span{
    width: 38px;
    height: 30px;
    background-image: url("./img/sprite.png");
}
._sm>a{
    display: flex;
    align-items: center;
}
.fb{
    background-position: -25px -25px;
}
.inst{
    background-position: -221px -25px;
}
.yt{
    background-position: -143px -25px;
}
.tw{
    background-position: -64px -24px;
}
.prdt_card{
    border: 1px solid #1b48ff;
    background-color: #ffffff;
    color: #fff;
}
.prdt_card img{
    border-bottom:1px solid #1b48ff;
}
.prdt_card a.btn{
    font-size: .75rem;
    padding:.2rem .38rem;
}
.prdt_card .card-text{
    height: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}
.prdt_card .card-title{
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.prdt_card .card-body{
    background-color: #1b48ff;
}
._appCartIcn{
    color: #1b48ff;
    animation: anim .1s;
}
.cartItems{
    top:-12px;
    left: 26px;
    color: #1b48ff;
    font-size: 13px;
    font-weight: 600;
}
@keyframes anim {
    from {scale:1;}
    to {scale:1.2;}
}

.prod_view{
    text-decoration: none;
}

button._loginBtn,.button._loginBtn:hover{
    background-color:#1b48ff !important;
}
.rating_stars,.rating_stars_overlay{
    height: 21px;
    background: url(img/5star.jpg) 0 0 no-repeat;
    background-size: 127px;
    overflow: hidden;
    background-position: 0px 0px;
}
.rating_stars_overlay{
    background-position: -51px -51px;
    width: 131px;
}
.rating_stars{
    width:260px;
}
.reviewer>div{
    border-top: 1px dashed #1b48ff;
}
